---
import { algorithmToFaces, Colors } from "cube";
import Face from "@/components/cube/Face.astro";

interface Props {
	algorithm: string;
}

const { algorithm } = Astro.props;

const faces = algorithmToFaces({
	algorithm,
	orientation: { U: Colors.Y, F: Colors.R },
});
---

<div
  class="grid grid-cols-2 grid-rows-2 aspect-square origin-bottom-left scale-125"
>
  <Face
    className="row-start-1 h-1/2 translate-y-full origin-bottom-left -skew-x-45"
    face={faces.U}
    maskedColors={[Colors.Y, Colors.B, Colors.O]}
  />
  <Face
    className="row-start-2"
    face={faces.F}
    maskedColors={[Colors.Y, Colors.B, Colors.O]}
  />
  <Face
    className="row-start-2 w-1/2 origin-bottom-left -skew-y-45"
    face={faces.R}
    maskedColors={[Colors.Y, Colors.B, Colors.O]}
  />
</div>
