---
import { linkWithBase } from "src/helpers/linkWithBase";

import "@/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={linkWithBase("/favicon.ico")} />
    <meta name="generator" content={Astro.generator} />
    <title>My Cubing Algs</title>
  </head>
  <body class="dark">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
