---
import Navbar from "@/components/Navbar.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout>
  <Navbar />
  <main class="mx-auto max-w-7xl p-2 pt-4"><slot /></main>
</RootLayout>
